name: CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ \
          qt6-base-dev qt6-base-dev-tools \
          qt6-multimedia-dev qt6-tools-dev \
          qt6-network-dev qt6-svg-dev \
          libxkbcommon-dev

    - name: Configure project
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build project
      run: cmake --build build --config Release

    - name: Run executable (optional)
      run: ./build/LauncherPro
